body{
 font-family: 'Open Sans', sans-serif;
}

#wrapper{
max-width: 940px;
margin: 0 auto;
padding: 0 5%;    
}

a{
text-decoration: none;
    
}


#logo{
text-align: center;
margin: 0;  
}

h1 {
font-family: 'Shadows Into Light', cursive;
margin: 15px 0; 
font-size: 1.75cm;    
}

h2{
font-size: 0.75cm;
margin: -5px 0 0;
    font-weight: normal;
}

nav{
    text-align: center;
    padding: 10px 15px 20px ;
    margin: 20px 0 0;
}

footer{
font-size: 0.75cm;
text-align: center;
padding-top: 50px;
color: dimgrey;    
}

.social-media-icon

body {
background-color:darkgray;
color: antiquewhite;
}

a {
 text-decoration: none   
}

#wrapper {
max-width: 940px
    margin: 0 auto;
    padding: 0 5%;
    
}

#id {
text-align: center;
margin: 0;
}

a{
  color: #990000;
}

header{
background: #000000;
}

h1, h2 {
color: #fff
}

nav {
background: #599;
}

nav a, nav a:visited{
color: darkblue;
}

nav a.selected, nav a:hover {
color: cyan;
}


















